<app-nav-bar></app-nav-bar>
<app-hero></app-hero>
<div class="newIn">
    <h2>New In</h2>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
</div>
<app-product-section></app-product-section>
<app-sofa></app-sofa>
<app-ideas></app-ideas>
<div class="photo">
    <img src="../assets/Group 95.png" alt="group-95" class="group-95 desktop-img">
    <img src="../assets/Australian-Made-Sofa.png" alt="sofa" class="sofa desktop-img">
    <div class="offer">
        <div class="offer-section">
            <div class="offer-info">
                <h2>Get 30% Off</h2>
                <p>Get 30% off your first purchase by joining our mailing list,and receive some</p>
            </div>
            <div class="subscribe">
                <input type="email" name="email" id="email" placeholder="Your Email" class="email-input">
                <button type="button" class="button button-subscribe">Subscribe</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>