<div class="new-ideas">
    <h2>Inspiration Ideas</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
</div>
<div class="ideas">
    <div class="ideas-section">
        <div class="rooms living-rooms one">
            <div class="img lving-rooms-img">
                <img src="../../assets/minh-pham-1_B4Zzh7UpQ-unsplash.png" alt="living-roomsi-img" class="image">
            </div>
            <div class="card rooms-card">
                <h3>Living Rooms</h3>
            </div>
            <div class="info right-info lving-rooms-info">
                <h2>Trandy Tables</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                     eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                <button type="button" class="button button-view-items">View Items</button>     
            </div>
        </div>
        <div class="rooms bed-rooms two">
            <div class="info bed-rooms-info">
                <h2>Trandy Tables</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                     eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                <button type="button" class="button button-view-items">View Items</button>  
            </div>
            <div class="card srr-card rooms-card">
                <h3>Living Rooms</h3>
            </div>
            <div class="img bed-rooms-img">
                <img src="../../assets/turned-on-silver-macbook-on-white-bed-916337.png" alt="living-roomsi-img" class="image">
            </div>
        </div>
        <div class="rooms dining-rooms one">
            <div class="img dining-rooms-img">
                <img src="../../assets/louis-hansel-shotsoflouis-gelCOOqEM64-unsplash.png" alt="living-roomsi-img" class="image">
            </div>
            <div class="card rooms-card">
                <h3>Living Rooms</h3>
            </div>
            <div class="info dining-rooms-info">
                <h2>Trandy Tables</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                     eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                <button type="button" class="button button-view-items">View Items</button>  
            </div>
        </div>
        <div class="rooms kitchen-rooms two">
            <div class="info kitchen-rooms-info">
                <h2>Trandy Tables</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                     eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                <button type="button" class="button button-view-items">View Items</button>  
            </div>
            <div class="card srr-card rooms-card">
                <h3>Living Rooms</h3>
            </div>
            <div class="img kitchen-rooms-img">
                <img src="../../assets/pots-near-windowpane-on-white-wooden-cabinet-1139796.png" alt="living-roomsi-img" class="image">
            </div>
        </div>
    </div>
</div>
<div class="summer-sale">
    <div class="summer-sale-section">
        <div class="summer-sale-section-inner">
            <div class="num">
                <div class="num-img">
                    <p>01</p>
                    <hr>
                    <p>06</p>
                </div>
            </div>
            <div class="summer-sale-product">
                <div class="summer-sale-card-outer">
                    <div class="summer-sale-card-one card">
                        <div class="summer-sale-card-inner inner-one">
                            <span class="info info-one">Sales 50%</span>
                            <img src="{{saleImg}}" alt="product-img" class="product-img">
                            <div class="product-name name-one">
                                <p>Patio Arm Chairs</p>
                                <h3>{{price}}$</h3>
                            </div>
                        </div>
                        <button type="button" class="button button-add-to-cart btn-one">ADD TO CART</button>
                    </div>
                    <div class="summer-sale-card-two card">
                        <div class="summer-sale-card-inner inner-two">
                            <span class="info info-two">Sales 70%</span>
                            <img src="{{saleImgLeft}}" alt="product-img" class="product-img">
                            <div class="product-name name-two">
                                <p>Patio Arm Chairs</p>
                                <h3>{{priceLeft}}$</h3>
                            </div>
                        </div>
                        <button type="button" class="button button-add-to-cart btn-two">ADD TO CART</button>
                    </div>
                </div>
                <div class="phone-card">
                    <div class="phone-card-inner">
                        <span class="info">Sales 50%</span>
                            <img src="{{saleImg}}" alt="product-img" class="product-img">
                            <div class="product-name">
                                <p>Patio Arm Chairs</p>
                                <h3>{{price}}$</h3>
                            </div>
                    </div>
                    <button type="button" class="button button-add-to-cart btn-two">ADD TO CART</button>
                </div>
                <div class="arrow-mark">
                    <img src="../../assets/arrow.png" alt="arrow" class="left-arrow" (click)="leftImg(1)">
                    |
                    <img src="../../assets/arrow.png" alt="arrow" class="right-arrow" (click)="rightImg(1)">
                </div>
            </div>
            <div class="shop-now">
                <h3>Summer Sale</h3>
                <a class="shop-now-link">Shop Now</a>
            </div>
        </div>
    </div>
</div>